div {
  background-color: rgb(162, 127, 243);
  color : rgb(255, 255, 255);
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  color : #fff;
  background-color: #2EFE2E;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}